
/*------------------------ Global Styles ------------------------*/

body {
	margin:0px;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif
}

/*------------------------ Color Scheme ------------------------*/

div.leftnav { 
	background-color:#d5edb3; /*#ffb;*/ 
	color: #993300;
}
div.header {
	background-color: #d5edb3; /* #ddF #aaFFaa; */
	border-color: #882200;
}

p, td, li { color:#000; }
h1, h2, h3, th { color: #882200; }

h2, h3, a { color: #555; }
a { color: #882200; }
a:hover { color: blue; }

.leftnav a:hover {
	background-color: /*#ddF; #99CC66; #d5edb3; */  #f2f29b;
	color:#993300;
}

/*------------------------ Fonts ------------------------*/

p, li, td {
	font-size:12px; 
}

ul, ol {
	margin:0;
	margin-left:10px;
	padding:0;
}

p, li, ul {
	line-height:20px;
	margin-top:5px;
	margin-left:30px;
}

li { list-style: disc outside; }

h1 {
	font-size: 22pt;
	line-height:32px;
	letter-spacing:.1em;
	font-weight:normal;
}

h2, th {
	font-size: 16pt;
	line-height:18px;
	font-weight:normal;
	vertical-align:middle;
	letter-spacing:.2em;
}

h3 {
	font-weight:bold;
	line-height:22px;
	margin-bottom:0;
}

.code { font-family:"Courier New", Courier, monospace }

/*------------------------ Page Layout ------------------------*/


/*------------------------ header ------------------------*/

.header {
	clear:both;
	vertical-align:middle;
	padding:10px;
	border-bottom:double;
}

.header h1 {
	letter-spacing:.2em;
	text-align:center;
}

.header h3 {
	font-size:12px;
	letter-spacing:.4em;
	line-height:18px;
	text-align:center;
}

.header p {
	text-align:center;
	letter-spacing:.4em;
}

/*------------------------ footer ------------------------*/

.footer {
	clear:left;
	text-align:center;
}
	
/*------------------------ main ------------------------*/

.main {
	margin: 10px;
	margin-left:320px;
	margin-top:0;
}

/*------------------------ leftnav ------------------------*/

.leftnav {
	font-size:11px;
}

.leftnav {
	width:300px;
	float:left;
	padding:5px;
}

.leftnav ul {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}

.leftnav a {
	display:block;
	letter-spacing:.1em;
	line-height:16px;	 
	padding:4px 6px 4px 10px; 
}



/*------------------------ Print Styles ------------------------*/


@media print {
.leftnav, .header, .footer { 	display:none; }

  
.main {
	width: 100%;
	margin-left: 5px;
	padding:0;
}

p, td, li,
h1, h2, h3, th,
h2, h3,
a,
a:hover { color: black; }

}

